<div class="container-fluid h-25"></div>
<div class="container-fluid">
  <div class="container mb-5">
    <h2 class="fw-bolder">The largest production capacity of the insect industry globally</h2>
    <p class="mb-5 fw-bolder">
      Two sites operating in 2020, ten more planned by 2030.
      <br>
      Innovafeed is currently in the midst of an acceleration phase having demonstrated the scalability of its model
      with the opening of
      its Nesle site in November 2020,
      <br>
      just 18 months after the foundation stone was laid.
    </p>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2 class="fw-bold">The largest active insect production site in the world</h2>
        <p class="fw-bold">
          This production unit opened in Nesle in November 2020 is co-located
          <br>
          with Tereos (starch manufacturer) and Kogeban (biomass plant),
          <br>
          a unique example of industrial collaboration.
        </p>

        <p class="fw-bold">
          It will enable Innovafeed to acquire a supply of quality raw materials
          <br>
          and, for Tereos, to locally valorize its co-products while limiting
          <br>
          the energy needs associated with their processing.
          <br>
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="worldMapImage" class="w-100" alt="world map">
      </div>
    </div>
  </div>
</div>
