<div class="container-fluid h-75 d-flex justify-content-start align-items-end" [defaultImage]="defaultImage" [lazyLoad]="bgImage">
  <h2 class="display-2 fw-bold">For Agriculture</h2>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-md-5 mb-sm-5 mb-5">
        <div class="card">
          <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage1" alt="Card image cap"
            loading="lazy">
          <div class="card-body">
            <p class="card-text">
              -Liquid organic fertilizer.
              <br>
              -Increase root growth
              <br>
              - Contain chitosan has
              <br>
              antifungal
              <br>
              action
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-md-5 mb-sm-5 mb-5">
        <div class="card">
          <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage2" alt="Card image cap"
            loading="lazy">
          <div class="card-body">
            <p class="card-text">
              -Liquid organic fertilizer
              <br>
              has pesticide effect.
              <br>
              -Has wide pesticide range.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage3" alt="Card image cap"
            loading="lazy">
          <div class="card-body">
            <p class="card-text">
              -Liquid organic fertilizer
              <br>
              source for amino acids.
              <br>
              -Source of amino acids
              <br>
              - Increase plant resistance for
              <br>
              abiotic factors
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
