<div class="container-fluid h-25"></div>
<div class="container-fluid">
  <div class="container mb-5">
    <h2 class="h2-green">A team of researchers passionate about pushing back the frontiers of scientific knowledge</h2>
    <p>
      <span class="fw-bold">
        The insect, thanks to its exceptional ability to recycle low-value ayicultural by-products by concentrating
        tyteir
        nutrients, is one of the solutions to guarantee
        a healthy and sustainable diet for all.
      </span>
      Their use in anirnal md plant nutrition — although based on the principle of
      biomimicry, the insect being part of the natural diet of rnmy
      animals in nature — constitutes a major innovation of the last ten years. Thus, it was not until 2017 that the
      European Commission authorized the insect protein
      in aquaculture feed.
      To be able to deploy this solution on a large scde, everything had to be invented.
      <span class="fw-bold">
        The EGYMAG'S teams a-e
        therefore constantly working to push back the frontiers
        of scientific knowledge and develop pioneering vertical farms and products with proven performance.
      </span>
      And because together, we are going faster and further, Innovafeed has surrounded itself with
      <span class="fw-bold">
        the world's leading
        experts, both academic (Nofrna, ITAVI, Imaqua
        and industry leaders (Cargill, Skretting, Nealia to unlock in a few years the insect potential as one of the
        most
        promising pioneer agricultural sectors.
      </span>
    </p>
  </div>

  <div class="container mb-5">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img  [defaultImage]="defaultImage" [lazyLoad]="factoryImage" class="w-100" alt="factory">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="h3-green">Controlled and optimized zootechnics</h3>
        <p class="fw-bold">
          Since 2016, the EGY MAG teams have been studying the Hermetia Illucens
          fly to better understand its life cycle and reproduction. Thanks to this knowledge,
          the tearns of engineers at Innovafeed are then able to reproduce as closely
          as possible the fly's natural life cycle in its vertical farms.
        </p>
        <p class="fw-bold">
          EGY MAG has also developed a genetic selection program to select
          the best strains and gain a detailed understanding of the insect behavior.
        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="soilImage" class="w-100" alt="soil">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="h3-green">A proprietary 100% vegetable substrate</h3>
        <p class="fw-bold">
          A proprietary 100% vegetable substrate
          Like any farmer. Innovafeed is constantly improving the diet of its insects to
          best meet their nutritimal needs at each stage of their life cycle.
        </p>

        <p class="fw-bold">
          The substrate developed by Innovafeed for its French sites is the result of
          an arnbitious research and development program over the past four years.
          It is made up of local agricultural co-products only and guaranteed GMO-free.
          It is therefore 100% vegetable and contains no additives.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="chemcialsImage" class="w-100" alt="chemicals">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="h3-green">Products with proven performance</h3>
        <p class="fw-bold">
          Since 2016, Innovafeed has carried out more than thirty tests, both in research
          stations and in commercial conditions, to demonstrate the performance of
          its products for animal md plant nutrition.
        </p>

        <p class="fw-bold">
          Each time. EGY MAG has surrounded itself with the best experts,
          both academic and on-the-field, to combine their expertise and develop
          high-performance products that meet the challenges of professionals
          on a daily
        </p>
      </div>
    </div>
  </div>
</div>
