<footer class="container">
  <hr class="mb-5">
  <div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12 mb-md-5 mb-sm-5 mb-5">
      <img [defaultImage]="defaultImage" [lazyLoad]="logoImage" class="w-100" alt="logo" loading="lazy">
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
      <div class="row ps-5">
        <div class="col-lg-6 col-md-12 col-sm-12 mb-md-3 mb-sm-3 mb-3">
          <h4>Address</h4>
          <p>Paris office: <br/>
            85 rue de Maubeuge <br/>
            75010 Paris <br/>
            Nesle site: <br/>
            52 Rte de Chaulnes <br/>
            80190 Nesle <br/>
            Gouzeaucourt site: <br/>
            2 Rue de l'Europe <br/>
            59231 Gouzeaucourt</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <h4>Contacts</h4>
          <p>communication&#64;egymag.com <br/>
            Business requests: <br/>
            sales&#64;egymag.com <br/>
            HR requests: <br/>
            joinus&#64;egymag.com</p>


          <div class="row w-100 justify-content-between align-items-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <a rel="noopener" href="https://www.facebook.com/" target="_blank"><img [defaultImage]="defaultImage"
                  [lazyLoad]="facebookIcon" alt="facebook logo" loading="lazy"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-3">
              <a rel="noopener" href="https://www.instagram.com/" target="_blank"><img [defaultImage]="defaultImage"
                  [lazyLoad]="instgramIcon" alt="instgram logo" loading="lazy"></a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-3">
              <a rel="noopener" href="https://www.linkedin.com/" target="_blank"><img [defaultImage]="defaultImage"
                  [lazyLoad]="linkedinIcon" alt="linkedin logo" loading="lazy"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
