<div class="container-fluid h-25"></div>

<div class="container-fluid">
  <div class="container mb-5">
    <h2 class="h2-green">A disruptive and proprietary technology to reproduce the natural life cycle of insects</h2>
    <p>

      Thanks to a unique technology, allied to an effcient hdustrial model, Innovafeed has set up a virtuous production
      system making it possible to produce high
      performance nutrients on a competitive scale, whNe respecting the natural life cycle of insects.

    </p>
  </div>

  <div class="container mb-5">
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="factoryImage1" class="w-100" alt="factory">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="h3-green">A disruptive and proprietary technology to reproduce the natural life cycle of insects</h3>
        <p>

          Thanks to a unique technology, allied to an effcient hdustrial model, Innovafeed has set up a virtuous
          production
          system making it possible to produce high
          performance nutrients on a competitive scale, whNe respecting the natural life cycle of insects.

        </p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="factoryImage2" class="w-100" alt="factory">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="text-dark">A data architecture to optimize ambient conditions at all times</h3>
        <p>
          EGY MAG has deployed more than 3,000 sensors specific to insect rearing
          at the Nesle site in order to measure, control and optimize mbient
          such as temperature and humidity at all times.
          The HVAC (Heating, Ventilation, Air Conditioning)
          system has been redesigned and optimized
          using dynanic fluid modeling (CFD) for this purpose.
          thanks to an integrated and proprietary data architecture,
          this data is constantly analyzed
          through more than 60 monitoring interfaces,
          to optimize rearing conditions and ensure the best growth of our insects.
        </p>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="factoryImage3" class="w-100" alt="factory">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h3 class="text-dark">A low temperature transformation process for high quality products</h3>
        <p>
          EGY MAG wos supported by the best experts for the implementation
          of a reference processing line in the agri-food sector.
          In particular, a wet transformation process has been implemented
          and optimized to ensure the highest quality of our nutrients,
          better yields and a reduction in our energy consumption.
        </p>
      </div>
    </div>
  </div>
  
</div>
