<div class="container-fluid h-25"></div>
<div class="container-fluid">
  <div class="container">
    <div class="row justify-content-between mb-md-5 mb-sm-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="position-relative">
            <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage1" alt="Card image cap"
              loading="lazy">
            <h4 class="text-white ms-3 position-absolute bottom-0 start-0">Pioneering</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              -Challenge the status quo
              <br>
              and be ambitious
              <br>
              Dare to fail
              <br>
              Crave innovation
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="position-relative">
            <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage2" alt="Card image cap"
              loading="lazy">
            <h4 class="text-white ms-3 position-absolute bottom-0 start-0">Positive impact</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Commit and develop products that
              <br>
              make sense
              <br>
              Strive for competitiveness to
              <br>
              maximize our impact
              <br>
              Redistribute value amongst local
              <br>
              ecosystems
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-md-5 mb-sm-5">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <h2 class="display-3 text-center">A team driven by
          strong values, true
          fondation of
          Innovafeed's
          development</h2>
      </div>
    </div>

    <div class="row justify-content-between mb-md-5 mb-sm-5">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
          <div class="position-relative">
            <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage3" alt="Card image cap"
              loading="lazy">
            <h4 class="text-white ms-3 position-absolute bottom-0 start-0">Excellence</h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              Aim for excellence
              <br>
              Demonstrate commitment to
              <br>
              our goals, overcome challenges
              <br>
              Ensure everyone's safety
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-md-5 mb-sm-5 mb-5">
        <div class="card">

            <div class="position-relative">
              <img class="card-img-top" [defaultImage]="defaultImage" [lazyLoad]="cardImage4" alt="Card image cap"
              loading="lazy">
              <h4 class="text-white ms-3 position-absolute bottom-0 start-0">Caring</h4>
            </div>
          <div class="card-body">
            <p class="card-text">
              Grow together as one team
              <br>
              Be fair to the stakeholders
              <br>
              within our ecosystem
              <br>
              Sustain a caring meritocracy
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb-5">
    <h2 class="display-1 fw-bold text-center mb-5">our great team</h2>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <img [defaultImage]="defaultImage" [lazyLoad]="teamImage" class="w-100" alt="shaking hands">
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 d-flex align-items-center">
        <img [defaultImage]="defaultImage" [lazyLoad]="logoImage" alt="logo" class="w-100">
      </div>
    </div>
  </div>
</div>
