/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

body {
  height: 100vh !important;
}
